discord.py
dnspython
geopy
nltk
markovify
motor
pymongo
PyYAML
aiogoogletrans
numpy
Pillow
arrow
beautifulsoup4
nltk
discord-py-slash-command @ git+https://github.com/eunwoo1104/discord-py-slash-command.git@80796084d23e90abfc602acda4821700f8a73185
