aiohttp
async-timeout
attrs
beautifulsoup4
cffi
chardet
click
git+https://github.com/Rapptz/discord.py@master#egg=discord.py
dnspython
geographiclib
geopy
idna
joblib
markovify
motor
multidict
nltk
pycparser
pymongo
PyNaCl
PyYAML
regex
six
soupsieve
tqdm
Unidecode
wavelink
websockets
yarl
youtube-dl
